$duration: 300;

.summary {
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  display: grid;
  place-items: center;

  transition: opacity $duration ease-in-out;

  &-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  &-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity $duration, transform $duration;
  }
  &-exit {
    opacity: 1;
  }
  &-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity $duration, transform $duration;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 200;
    background-color: rgba(0, 0, 0, .2);
  }

  &__content {
    width: 350px;
    height: max-content;
    border-radius: 5px;

    padding: 2.5rem;

    background-color: #fff;
    z-index: 300;
  }

  &__status {
    display: grid;
    place-items: center;
  }

  &__title {
    text-align: center;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 0;
  }

  &__subtitle {
    text-align: center;
    font-size: 20px;
    line-height: 23px;
    margin: 8px 0 16px 0;
  }
}