$duration: 150ms;

.cell {
  &__container {
    cursor: pointer;
    block-size: auto;
    display: flex;
    resize: horizontal;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    aspect-ratio: 1 / 1;

    background-color: #F8FBFC;
    border: 0.5px solid rgba(0, 0, 0, .1);
    border-radius: 5px;
  }

  &__available {
    background-color: #BEDAF7;
  }

  &__filled {
    background-color: #569AFF;
  }

  &__disabled {
    background-color: rgb(193, 193, 193);
  }

  &__last-try {
    background-color: #2d7bce;
    color: white;
  }

  &-enter {
    opacity: 0;
    transform: scale(0.9);
  }
  &-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity $duration, transform $duration;
  }
  &-exit {
    opacity: 1;
  }
  &-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity $duration, transform $duration;
  }
}